.gradle/
**/build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
coverage/
*.iml
.idea/
.vscode/
.DS_Store
local.properties
android/.gradle/
android/key.properties
ios/Pods/
**/.symlinks/
**/Generated.xcconfig
**/flutter_export_environment.sh
